.btnCarrito {
    background-color: #fafafa;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;   
    transition: .5 ease-in-out;
}

.btnCarrito:hover {
    transition: .5s ease-in-out;
    background-color: #1f1f1f;
    color: #fafafa;
    border: none;
}

@media (min-width:320px) and (max-width:800px) {
    .imagenCarrito {
        height: 15rem;
        margin-left: 25%;
        margin-bottom: 10px;
    }
}