@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.navbar {
    background-color: #F8F8FF;
    font-family: 'Karla', sans-serif;
}

.navbar-logo {
    height: 10rem;
}

.navbar-item {
    color: black;
    text-transform: uppercase;
    transition: 1s ease;
}

.navbar-item:hover {
    color: orangered;
    transition: 1s ease;
    letter-spacing: 1px;
}

.btn-buscar {
    color: black;
    font-size: 1.5rem;
    transition: 1s ease;
}

.btn-buscar:hover {
    color: orangered;
    transition: 1s ease;
    transform: translateY(-3px);
}

.subHeader {
    background-color: #323333;
    color: white;
    height: 40px;
}

.btnCategoryHeader {
    background-color: #1B1B1B;  
}

.linkBtn {
    text-decoration: none;
    color: #F8F8FF;
}

.linkBtn:hover {
    transition: .5s ease;
    color: orangered;
}