.nombreProductos {
    color: black;
    transition: 1s ease;
}

.nombreProductos:hover {
    color:orangered;
    transition: 1s ease;
}

.link-productos {
    text-decoration: none;
    text-align: center;
}

.h3_precio {
    transition: .5s ease;
}

.h3_precio:hover {
    cursor:pointer;
    color: orangered;
    transition: .5s ease;
}

.imgProduct {
    margin-left: 3.5rem;
    margin-top: 2rem;
    min-height: 70%;
    max-height: 70%;
}

.imgProduct:hover {
    cursor: pointer;
}

.imagenFija {
    object-fit: cover;
    height: 400px;
}

@media (min-width:320px) and (max-width:500px){

    .tarjeta-fija {
        width: 80%;
        margin: auto;
    }
    
}